<form class="ui teal segment form" action="/dashboard/addbookmarklist" method="POST">
  <h4>Add New List</h4?>
  <div class="field">
    <input placeholder="List Name" type="text" name="listname" required>
  </div>
  <button class="ui teal submit button">Add New List</button>
</form>