<h2 class="ui header">
  Global Statistics - All Users
</h2>

<div class="ui four tiny center aligned grid statistics">
  <div class="ui statistic olive">
    <div class="value">
      {{statGlobalTotalLinks}}
    </div>
    <div class="label">
      Total Bookmarks
    </div>
  </div>

  <div class="ui statistic teal">
    <div class="value">
      {{statGlobalAvgBookmarksPerUser}}
    </div>
    <div class="label">
      Average Number of Bookmarks per User
    </div>
  </div>
  <div class="ui statistic violet">
    <div class="value">
      {{statGlobalUserWithMost}}
    </div>
    <div class="label">
      User With Most Bookmarks
    </div>
  </div>

  <div class="ui statistic brown">
    <div class="value">
      {{statGlobalUserWithLeast}}
    </div>
    <div class="label">
      User With Least Bookmarks
    </div>
  </div>
</div>