<nav class="ui menu">
  <header class="ui header item brand">
    <a href="/">
      <i class="icon bookmark"></i> Webmark
    </a>
  </header>
  <div class="right menu">
    <a id="login" class="item" href="/login"> Log In  </a>
    <a id="signup" class="item" href="/signup"> Register </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

