{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  <div class="ui grid">
    <div class="ten wide column">
      <h1>Elon Musk</h1>
      <i class="phone icon"></i> 310-363-6000<br>
      <i class="home icon"></i> Rocket Road, Hawthorne, California<br>
      <i class="envelope icon"></i> <a href="mailto:example@exmaple.com">media@spacex.com</a><br>
    </div>
      <div class="six wide column">
      <img class="ui centered small rounded image" src="http://i0.kym-cdn.com/photos/images/original/001/337/459/0aa.jpeg">
      </div>
  </div>
</section>
<section class="ui center aligned middle aligned segment">
    <img class="ui centered huge rounded image" src="https://files.dylangore.ie/.WIT/map.png" alt="Map">
</section>