{{> menu id="dashboard"}}

<section class="ui segment">
  {{> list-bookmarkLists }}
  {{> add-bookmarkList }}
</section>

<section class="ui segment">
  {{> list-stats-user }}
</section>

<section class="ui segment">
  {{> list-stats-global }}
</section>

