{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">Webmark | <small> Version 2 </small></h1>
  <h4>By Dylan Gore (200812224)</h4>
  
  <hr>
  <img src="https://www.rd.usda.gov/files/crwordlelep.png" alt="Welcome">
  <hr>
  
<p>
  This is a simple web app which lists some important links for learning web development. This list is split in to categories for the various technologies used, <b>HTML</b> <i class="html5 icon"></i>,<b>CSS</b> 
  <i class="css3 alternate icon"></i> and <b>JavaScript</b> <i class="js icon"></i>. When you click on a link from the bookmark list, it will open in a new window. Unwanted links can be deleated from the list.
</p>
  <br>
  <a class="ui button" href="/dashboard">View Bookmarks Dashboard</a>
</section>